<div class="container container-captain">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form form-signin' }) do |f| %>
    <h2>Sign up</h2>

    <%= devise_error_messages! %>

    <%= f.input :email, autofocus: true, autocomplete: "email" %>
    <%= f.input :password, autocomplete: "new-password" %>
    <%= f.input :password_confirmation, autocomplete: "new-password" %>
    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>

