%body
  %header.masthead.text-center.text-white
    .masthead-content
      .container
        %h1.masthead-heading.mb-0 Prove your value
        %h2.masthead-subheading.mb-0 What we do in life echoes in eternity
        - if user_signed_in?
          = link_to 'Create a character', new_character_path, class: 'btn btn-primary btn-xl rounded-pill mt-5'
        - else
          = link_to 'Create an account', new_user_registration_path, class: 'btn btn-primary btn-xl rounded-pill mt-5'
  %section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            = image_tag '003.jpg', class: "img-fluid rounded-circle", alt: ''
        .col-lg-6.order-lg-1
          .p-5
            %h2.display-4 Create your hero
            %p= Faker::GreekPhilosophers.quote
  %section
    .container
      .row.align-items-center
        .col-lg-6
          .p-5
            = image_tag '004.jpg', class: "img-fluid rounded-circle", alt: ''
        .col-lg-6
          .p-5
            %h2.display-4 Confront terrible opponents
            %p= Faker::GreekPhilosophers.quote
  %section
    .container
      .row.align-items-center
        .col-lg-6.order-lg-2
          .p-5
            = image_tag '002.jpg', class: "img-fluid rounded-circle", alt: ''
        .col-lg-6.order-lg-1
          .p-5
            %h2.display-4 Become the king of the arena
            %p= Faker::GreekPhilosophers.quote
