.card{:style => "width: 18rem;"}
  .card-header
    %h5.card-title
      = character.name
    .card-subtitle.mb-2.text-muted
      = character.gladiator_type.name
      .float-right= "Lvl #{character.level}"
  - if character.avatar.attached?
    = image_tag(Rails.application.routes.url_helpers.rails_blob_path(character.avatar, only_path: true), style: 'height: 300px')
  - else
    = image_tag 'unknow.jpg', class: "card-img-top", alt: ''
  .card-body
    .card-subtitle.mb-2.text-muted
      .row
        .col-md-3
          %i.fas.fa-heart
          = character.health_points
        .col-md-3
          %i.fas.fa-fist-raised
          = character.attack_points
        .col-md-3
          %i.fas.fa-shield-alt
          = character.constitution
        .col-md-3
          %i.fas.fa-running
          = character.dexterity
  - if character.weapons
    .card-footer
      %h6 Weapons
      - character.weapons.each do |weapon|
        = "#{weapon.name} (+#{weapon.damage})"
      %h6 Shields
      - character.shields.each do |shield|
        = "#{shield.name} (+#{shield.defense})"

  = yield if block_given?
