<div class="container container-captain">
  <h1>Characters</h1>

<!--   <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>HP</th>
        <th>Attack</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @characters.each do |character| %>
        <tr>
          <td><%= character.name %></td>
          <td><%= character.health_points %></td>
          <td><%= character.attack_points %></td>
          <td><%= link_to 'Show', character %></td>
          <td><%= link_to 'Edit', edit_character_path(character) %></td>
          <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Fight', new_character_fight_path(character) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br> -->

  <%= link_to 'New Character', new_character_path %>

  <div class="card-deck">

    <% @characters.each_slice(4) do |characters| %>
      <div class="row row-character">
        <% characters.each do |character| %>
          <div class="col-sm-3">
            <div class="card">
              <%= image_tag 'unknow.png', class: "card-img-top", alt: '' %>
              <div class="card-body">
                <h5 class="card-title"><%= character.name %></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

