%p#notice= notice
= link_to 'Edit', edit_character_path(@character)
|
= link_to 'Back', characters_path
%h1 Fights
%table
  %thead
    %tr
      %th Left
      %th Right
      %th{:colspan => "1"}
  %tbody
    - @character.fights.each do |fight|
      %tr
        %td= fight.fighter_left&.name
        %td= fight.fighter_right&.name
        %td= link_to 'Show', fight
%br/
