.container.container-captain
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form form-signin' }) do |f|
    = devise_error_messages!
    %h2 Log in
    = f.input :email, autofocus: true, autocomplete: "email"
    = f.input :password, autocomplete: "current-password"
    = f.submit "Submit", class: "btn btn-lg btn-primary btn-block"
