<%= simple_form_for([:character, fight]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :fighter_left, as: :hidden %>
    <%= f.association :fighter_right %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
