<p id="notice"><%= notice %></p>

<h1>Fights</h1>

<table>
  <thead>
    <tr>
      <th>Left</th>
      <th>Right</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.fighter_left&.name %></td>
        <td><%= fight.fighter_right&.name %></td>
        <td><%= link_to 'Show', fight %></td>
        <td><%= link_to 'Destroy', fight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
